In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Replace with your database connection details
DB_URI = 'postgresql://user:password@localhost:5432/testdb'

# Create a SQLAlchemy engine
engine = create_engine(DB_URI)

In [3]:
# import unittest
# from tests.data_transformation_test import TestETL

# # Create a function to run the tests
# def run_tests():
#     # Load the test suite from the TestETL class
#     suite = unittest.TestLoader().loadTestsFromTestCase(TestETL)
#     # Run the test suite
#     unittest.TextTestRunner(verbosity=2).run(suite)

# run_tests()

test_transform_csv (tests.data_transformation_test.TestETL.test_transform_csv) ... ok
test_transform_json (tests.data_transformation_test.TestETL.test_transform_json) ... ERROR

======================================================================
ERROR: test_transform_json (tests.data_transformation_test.TestETL.test_transform_json)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/jianwei.bee/Desktop/etl_sample/tests/data_transformation_test.py", line 29, in test_transform_json
    users, _, _ = transform_test_json(json_data)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/jianwei.bee/Desktop/etl_sample/src/utils/data_transformation.py", line 44, in transform_test_json
    for job in user['jobs_history']:
               ~~~~^^^^^^^^^^^^^^^^
KeyError: 'jobs_history'

----------------------------------------------------------------------
Ran 2 tests in 0.004s

FAILED (errors=1)

In [4]:
# Import the run_etl function from your ETL module
from src.sample__etl_pipeline import run_etl

# Run the ETL process
csv_file = 'test.csv'
json_file = 'test.json'
run_etl(csv_file, json_file, DB_URI)

INFO:root:Starting ETL Process
INFO:root:ETL Process Completed

In [5]:
# Query the tables to check the loaded data
def query_table(table_name):
    query = f'SELECT * FROM {table_name};'
    return pd.read_sql(query, engine)

# Query the test table
test_data = query_table('test')
print("Data from 'test' table:")
print(test_data)

# Query the users table
users_data = query_table('users')
print("\nData from 'users' table:")
print(users_data)

# Query the telephone_numbers table
tel_data = query_table('telephone_numbers')
print("\nData from 'telephone_numbers' table:")
print(tel_data)

# Query the jobs_history table
jobs_data = query_table('jobs_history')
print("\nData from 'jobs_history' table:")
print(jobs_data)

Data from 'test' table:
           id                name
0        6311      Jennifer Green  \
1        3350        Karen Grimes
2        9031         Calvin Cook
3        1131      Peter Mcdowell
4        1889    Mr. Ryan Sanchez
...       ...                 ...
3999995   817  Christopher Wilson
3999996  3713          Leah Hanna
3999997  6686         Kevin Jones
3999998  2804          Scott Hall
3999999  1472       Theresa Avila

                                                   address    color
0        7593 Juan Throughway Apt. 948\nWest Corey, TX ...     lime  \
1          60975 Jessica Squares\nEast Sallybury, FL 71671     lime
2                         PSC 3989, Box 4719\nAPO AA 42056   silver
3                         PSC 1868, Box 4833\nAPO AP 77807     aqua
4            352 Simmons Circle\nPort Dustinbury, OK 83627    white
...                                                    ...      ...
3999995                                               None   maroon
3999996  70059 Jeremy Centers Suite 187\nLake Benjaminb...   maroon
3999997            939 Nichols Isle\nNew Kaitlyn, AL 11668  fuchsia
3999998  1851 West Centers Suite 852\nPort Edward, AZ 9...   maroon
3999999                   Unit 7557 Box 0464\nDPO AA 78623     teal

        created_at                 last_login is_claimed  paid_amount
0       2013-06-30 1970-01-01 00:00:01.202190       True  5004.671532
1       2013-06-30 1970-01-01 00:00:00.195884       True   893.404595
2              NaT 1970-01-01 00:00:00.623477       True   266.600000
3              NaT 1970-01-01 00:00:01.244885       True   674.544127
4              NaT 1970-01-01 00:00:01.293151       None          NaN
...            ...                        ...        ...          ...
3999995        NaT 1970-01-01 00:00:01.117193      False   522.195206
3999996        NaT 1970-01-01 00:00:00.621024       True   412.000000
3999997        NaT 1970-01-01 00:00:01.369498      False  1824.151258
3999998        NaT 1970-01-01 00:00:01.455162      False  2776.769680
3999999        NaT 1970-01-01 00:00:01.506071       True  8925.300000

[4000000 rows x 8 columns]

Data from 'users' table:
                                    user_id    name         dob
0      e9703a66-6556-4b48-8a0b-0ace129d7a11  J*****  1983-05-15  \
1      aa246388-104c-44f7-93f4-4b688dc0baff  S*****  1996-09-24
2      86af3e4d-6c57-4245-be99-19b2bfb138c0  M*****  1971-12-20
3      a610bdb4-8d67-47b0-b6f6-791a8ea22d86  J*****  1988-05-04
4      2bde2981-4bd8-4da0-ab3b-9ff26a4cebd8  S*****        None
...                                     ...     ...         ...
99995  6bb20649-a19a-4d09-8d57-59ad546eda07  M*****  1999-11-30
99996  7b406c11-3c9e-4d0e-82e9-0ff4aceeee91  J*****  2007-03-05
99997  f8c03bb8-8b38-4749-9621-ac980a76b7be  J*****        None
99998  523340e4-5ca9-4908-903c-3836d26f4013  M*****        None
99999  7a28973e-accf-4f17-8c47-24f5e6766d77  C*****        None

                        created_at                   updated_at   logged_at
0      2003-09-19T13:43:1063950217   1986-01-02T09:49:505014546   881885008
1      2002-10-08T09:14:1034039687   1984-08-26T14:42:462350529    77028400
2       1993-11-22T08:32:753928335  2010-12-31T12:18:1293769114  1282838750
3      2018-10-20T07:11:1539990663   1991-09-23T07:57:685583846    20786222
4       1985-11-19T11:41:501219666  2018-09-25T18:59:1537873163    28996822
...                            ...                          ...         ...
99995  2008-04-22T11:13:1208834003  2019-01-09T13:08:1547010495   519612327
99996  2017-12-10T05:31:1512855096  2004-09-17T01:44:1095356697   867629764
99997    1971-01-08T08:44:32145245  2015-02-18T08:48:1424220518  1389011970
99998  2016-10-27T07:08:1477523307   1985-02-06T07:12:476493145   507844824
99999   1978-06-03T02:03:265660436  2015-08-05T12:05:1438747506  1056307857

[100000 rows x 6 columns]

Data from 'telephone_numbers' table:
                                     user_id        telephone_number
0       e9703a66-6556-4b48-8a0b-0ace129d7a11    001-640-924-3637x268
1       e9703a66-6556-4b48-8a0b-0ace129d7a11  001-127-583-8338x85397
2       aa246388-104c-44f7-93f4-4b688dc0baff            840.808.9845
3       aa246388-104c-44f7-93f4-4b688dc0baff    001-558-896-0120x701
4       86af3e4d-6c57-4245-be99-19b2bfb138c0   001-672-539-5662x6286
...                                      ...                     ...
233228  7a28973e-accf-4f17-8c47-24f5e6766d77     +1-248-853-6106x244
233229  7a28973e-accf-4f17-8c47-24f5e6766d77   001-873-817-5384x3561
233230  7a28973e-accf-4f17-8c47-24f5e6766d77      396-637-2139x85647
233231  7a28973e-accf-4f17-8c47-24f5e6766d77      (223)339-3727x6209
233232  7a28973e-accf-4f17-8c47-24f5e6766d77            262-782-8703

[233233 rows x 2 columns]

Data from 'jobs_history' table:
                                     user_id
0       e9703a66-6556-4b48-8a0b-0ace129d7a11  \
1       aa246388-104c-44f7-93f4-4b688dc0baff
2       86af3e4d-6c57-4245-be99-19b2bfb138c0
3       a610bdb4-8d67-47b0-b6f6-791a8ea22d86
4       2bde2981-4bd8-4da0-ab3b-9ff26a4cebd8
...                                      ...
133302  f8c03bb8-8b38-4749-9621-ac980a76b7be
133303  523340e4-5ca9-4908-903c-3836d26f4013
133304  523340e4-5ca9-4908-903c-3836d26f4013
133305  7a28973e-accf-4f17-8c47-24f5e6766d77
133306  7a28973e-accf-4f17-8c47-24f5e6766d77

                              occupation       start         end
0                           Set designer  1996-12-26  1997-10-02
1                         Chief of Staff  1991-09-12  2015-08-04
2                Clinical cytogeneticist  1970-10-28  2018-03-30
3         Manufacturing systems engineer  2007-05-05  2014-07-01
4               Counselling psychologist  1989-12-24        None
...                                  ...         ...         ...
133302                    Pilot, airline  1981-07-22  1986-05-31
133303             Clinical psychologist  1973-09-23        None
133304              Community pharmacist  2019-04-19  2017-02-09
133305                     Administrator  1972-03-08        None
133306  Armed forces operational officer  2014-11-22  2010-08-24

[133307 rows x 4 columns]